.footer__copyright {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
    margin: 0;
}

@media all and (max-width: 620px) {
    .footer__copyright {
        text-align: left;
        line-height: 14px;
    }
    
}