.place__paragraph {
    max-width: 484px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 26px;
    margin: 0;
}

.place__paragraph:last-child {
    padding-bottom: 0px;
}